/* START GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100..900&family=Montserrat+Alternates:wght@600;700;800&&display=swap');
/* END GOOGLE FONTS */

/* START VARIABLE CSS */
:root {
  --hue: 155;
  --first-color: hsl(var(--hue), 60%, 40%);
  --title-color: hsl(var(--hue), 4%, 12%);
  --text-color: hsl(var(--hue), 4%, 20%);
  --text-color-2: hsl(var(--hue), 0%, 25%);
  --text-color-3: hsl(var(--hue), 0%, 40%);
  --text-color-4: hsl(var(--hue), 0%, 40%);
  --body-color: hsl(var(--hue), 30%, 92%);
  --container-color: hsl(0, 0%, 100%);
  --container-color-2: hsl(0, 0%, 100%);
  --border-color: hsl(var(--hue), 4%, 16%);
  --white-color: hsl(0, 0%, 100%);
  --shadow-color: hsla(var(--hue), 80%, 10%, 0.2);

  --gradient-start: hsl(var(--hue), 70%, 50%);
  --gradient-end: hsl(calc(var(--hue) + 45), 70%, 50%);
  --gradient-color: linear-gradient(
    235deg,
    var(--gradient-start),
    var(--gradient-end)
  );
  --gradient-text-start: hsl(var(--hue), 90%, 10%);
  --gradient-text-end: hsl(calc(var(--hue) + 45), 60%, 30%);
  --gradient-text: linear-gradient(
    235deg,
    var(--gradient-text-start),
    var(--gradient-text-end)
  );

  --body-font: 'Jost', sans-serif;
  --second-font: 'Montserrat Alternates', sans-serif;

  --big-font-size: 5.5rem;
  --h1-font-size: 2.75rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.5rem;
  --larger-font-size: 1.3rem;
  --large-font-size: 1.125rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.9rem;
  --smaller-font-size: 0.8125rem;

  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-black: 800;

  --transition: cubic-bezier(0.3, 0, 0.3, 1);
}
/* END VARIABLE CSS */

/* START DARK THEME */
.dark {
  --title-color: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 92%);
  --text-color-2: hsl(0, 0%, 83%);
  --text-color-3: hsl(0, 0%, 73%);
  --text-color-4: hsl(260, 11%, 86%);
  --body-color: hsl(var(--hue), 10%, 8%);
  --container-color-2: hsl(var(--hue), 0%, 12%); 
  --container-color: hsl(var(--hue), 10%, 16%);
  --border-color: hsl(var(--hue), 4%, 65%);
  --shadow-color: hsl(var(--hue), 80%, 10%, 0.2);
}

.dark .shape {
  filter: invert(1);
}
/* END DARK THEME */

/* START BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--hue), 20%, 65%) hsl(var(--hue), 20%, 85%);
}

body,
button,
input,
textarea {
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
}

h1,
h2,
h3,
larger {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button,
input,
textarea {
  border: none;
  outline: none;
  background-color: transparent;
}
/* END BASE */

/* START REUSEABLE CSS CLASSES */
.home-title span,
.nav-logo,
.bold-color,
.bold-color-span span,
.ri-add-line,
.ri-subtract-line,
.ri-arrow-right-line,
.social-link:hover,
.attachment-link:hover {
  background: var(--gradient-color) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  font-weight: var(--font-semi-bold);
}

.home-subtitle span,
.home-job span,
.footer-copyright span,
.home-data-title span,
.contact-form-label b,
.custom-bullet::before,
.active-projects,
.active-projects:hover,
.projects-item:hover {
  background: var(--gradient-text) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  font-weight: var(--font-semi-bold);
}

.home-description span,
.skills-description span,
.resume-description span {
  background: var(--gradient-text) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  font-weight: var(--font-semi-bold);
}

.icon {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-right: 10px;
  margin-top: 2px;
}

.box {
  display: flex;
  width: 100%;
  border-radius: 4px;
  border: 1px solid transparent;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background: rgb(37, 37, 37);
  padding: 16px 20px 16px 12px;
  color: #e8e5ec;
  font-size: 20px;
}

.scrollable {
  max-height: 800px;
  overflow-y: auto;
  padding: 10px;
}

.line {
  border-bottom: 1px solid #444;
  margin: 10px 0;
}

.custom-bullet {
  list-style-type: none;
  padding-left: 1.5rem;
  position: relative;
  text-align: justify;
}

.custom-bullet::before {
  content: '•';
  font-weight: bold;
  font-size: 2.5em;
  display: inline-block;
  width: 1em;
  position: absolute;
  left: 0;
  top: -8px;
  line-height: 1.2;
}

.logo {
  width: 3em;
  height: 3em;
  object-fit: contain;
  margin-right: 0.5em;
}

.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* Menambahkan transition-delay untuk setiap child hingga ke-10 */
.reveal:nth-child(1) {
  transition-delay: 0.1s;
}
.reveal:nth-child(2) {
  transition-delay: 0.15s;
}
.reveal:nth-child(3) {
  transition-delay: 0.2s;
}
.reveal:nth-child(4) {
  transition-delay: 0.25s;
}
.reveal:nth-child(5) {
  transition-delay: 0.3s;
}
.reveal:nth-child(6) {
  transition-delay: 0.35s;
}
.reveal:nth-child(7) {
  transition-delay: 0.4s;
}
.reveal:nth-child(8) {
  transition-delay: 0.45s;
}
.reveal:nth-child(9) {
  transition-delay: 0.5s;
}
.reveal:nth-child(10) {
  transition-delay: 0.55s;
}

.social-links {
  display: inline-flex;
  column-gap: 1.25rem;
}

.social-link {
  color: var(--gradient-color);
  font-size: var(--h3-font-size);
  transition: color 0.7s var(--transition);
}

.section {
  padding-block: 7rem 3.5rem;
}

.btn,
.home-link {
  display: inline-block;
  color: var(--title-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-bold);
  position: relative;
  cursor: pointer;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 25px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2),
    -4px -4px 10px rgba(255, 255, 255, 0.04);
  transition: all 0.3s ease;
  overflow: hidden;
  z-index: 1;
}

.btn:hover {
  background: var(--gradient-color);
  color: white;
  transform: translateY(-3px);
}

.btn::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: rgba(255, 255, 255, 0.3);
  transition: all 0.5s ease;
  border-radius: 50%;
  z-index: -1;
  transform: translate(-50%, -50%) scale(0);
}

.btn:hover::after {
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
}

.section-title {
  font-size: var(--h1-font-size);
  text-align: center;
  margin-bottom: 0.5rem;
}

.section-title::after {
  content: attr(data-title);
  display: block;
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--body-font);
  font-size: var(--h3-font-size);
}

.link {
  display: inline-flex;
  align-items: center;
  column-gap: 1.25rem;
  color: var(--title-color);
  font-weight: var(--font-bold);
}

.link-icon {
  color: var(--first-color);
  font-size: 1.25rem;
  transition: transform 0.3s var(--transition);
}

.link:hover .link-icon {
  transform: translateX(-0.5rem);
}

.section-deco {
  position: absolute;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: var(--border-color);
  z-index: 1;
}

.deco-left {
  left: -72px;
}
.deco-right {
  right: -72px;
}

.section-deco::before,
.section-deco::after {
  content: '';
  position: absolute;
  left: 50%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--container-color);
  border: 2px solid var(--border-color);
  box-shadow: 4px 4px var(--shadow-color);
}

.section-deco::before {
  top: 0;
  transform: translate(-50%, -100%);
}

.section-deco::after {
  bottom: 0;
  transform: translate(-50%, 100%);
}

.section-deco .shape {
  max-width: 226px;
  height: 226px;
  bottom: -60px;
}

.deco-left .shape {
  left: -166px;
}
.deco-right .shape {
  right: -166px;
}

.section:nth-child(even) {
  background: linear-gradient(
    0deg,
    var(--container-color) 0%,
    var(--body-color) 100%
  );
}

.section:nth-child(odd) {
  background: linear-gradient(
    180deg,
    var(--container-color) 0%,
    var(--body-color) 100%
  );
}
/* END REUSABLE CSS CLASSES */

/* START LAYOUT */
.container {
  max-width: 1650px;
  margin-inline: auto;
  padding-inline: 1.5rem;
  position: relative;
}

.container:not(.nav, .home-container) {
  padding-block: 3.75rem;
}

.grid {
  display: grid;
}
/* END LAYOUT */

/* START HEADER & NAV */
.header {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  transition: background-color 0.4s var(--transition);
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  fill: 5px;
  backdrop-filter: blur(5px);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.4s var(--transition);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  max-width: 1800px;
}

.nav-logo {
  font-family: var(--second-font);
  font-size: var(--h3-font-size);
  font-weight: var(--font-bold);
  color: var(--first-color);
}

.nav-buttons {
  display: flex;
  align-items: center;
  column-gap: 1.75rem;
}

.nav-settings,
.nav-toggle {
  cursor: pointer;
}

.nav-settings {
  font-size: 1.5rem;
  z-index: 3;
}

.nav-toggle {
  width: 28px;
  height: 28px;
  position: relative;
  z-index: 3;
}

.nav-toggle::before,
.nav-toggle::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: var(--title-color);
  position: absolute;
  left: 0;
  transition: all 0.7s var(--transition);
}

.nav-toggle::before {
  top: 7px;
}
.nav-toggle::after {
  bottom: 7px;
}

.nav-menu {
  position: fixed;
  background-color: var(--container-color);
  top: 0;
  right: -100%;
  width: 512px;
  height: 100%;
  padding: 15rem 0 0 13rem;
  overflow: hidden;
  transition: right 0.75s var(--transition);
  z-index: 3;
}

.nav-list {
  margin-bottom: 2.5rem;
}

.nav-item {
  margin-bottom: 1.25rem;
}

.nav-link {
  font-size: var(--larger-font-size);
  transition: color 0.3s var(--transition);
  color: var(--title-color);
  font-weight: var(--font-bold);
}

.nav-link:hover {
  color: var(--first-color);
}

.header-deco {
  height: 70%;
  top: 128px;
  left: 75px;
}

.header-deco .shape {
  top: -210px;
  left: -160px;
}

.show-menu {
  right: 0;
}

.animate-toggle::before {
  transform: rotate(45deg);
  top: 14px;
}

.animate-toggle::after {
  transform: rotate(-45deg);
  top: 12px;
}

.active-link {
  color: var(--first-color);
}

.bg-header {
  background-color: var(--container-color);
  transition: 0.9s var(--transition);
  opacity: 1;
}

.bg-header.fade-out {
  opacity: 0;
}

.bg-header::before {
  opacity: 1;
  backdrop-filter: blur(5px);
}
/* END HEADER & NAV */

/* START MAIN */
.main {
  overflow: hidden;
}
/* END MAIN */

/* START HOME */
.home-container {
  padding-block: 2.25rem;
}

.home-content {
  position: relative;
}

.home-subtitle {
  font-size: var(--larger-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 1rem;
}

.home-title {
  color: var(--white-color);
  font-size: 4.6rem;
  font-weight: var(--font-black);
  -webkit-text-stroke: 2px hsl(0, 0%, 0%);
  text-shadow: 4px 4px var(--shadow-color);
}

.home-job {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-block: 1.5rem 2.5rem;
}

.home-banner {
  position: absolute;
  right: -4%;
  top: 45%;
  transform: translateY(-50%);
}

.home-img-wrapper {
  width: clamp(21rem, 12.6rem + 33.6vw, 46);
  border-radius: 0 0 100vw 100vw;
  overflow: hidden;
}

.home-img-wrapper::before {
  content: '';
  position: absolute;
  inset: auto 0 0;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: var(--gradient-color);
}

.home-profile {
  width: 100%;
  max-width: 700px;
  height: auto;
  position: relative;
  z-index: 3;
  aspect-ratio: 20/25;
  object-fit: cover;
}

.home-data {
  border: 2px solid var(--border-color);
  background-color: var(--container-color);
  box-shadow: 4px 4px var(--shadow-color);
  padding-inline: 1.25rem;
  width: 240px;
  height: 80px;
  border-radius: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  position: absolute;
  z-index: 4;
}

.home-data-one {
  bottom: 37%;
  left: clamp(-3.75rem, -4.65rem + 3.6vw, -4.5rem);
}

.home-data-two {
  bottom: 20%;
  left: clamp(-3rem, -5.2rem + 50.8vw, 30.5rem);
}

.home-data-no {
  color: var(--title-color);
  font-family: var(--second-font);
  font-size: 2.75rem;
  font-weight: var(--font-bold);
  text-align: center;
}

.home-data-title {
  font-size: var(--smaller-font-size);
}

.home-data-title span {
  color: var(--gradient-color);
}

.shape {
  position: absolute;
  z-index: -1;
}

.shape-1 {
  width: clamp(6.5rem, 3.5rem + 12vw, 14rem);
  top: 17%;
  right: 10%;
}

.shape-2,
.shape-3 {
  width: clamp(8rem, 2.1rem + 7.6vw, 8.75rem);
}

.shape-2 {
  bottom: 18%;
  left: -8%;
}

.shape-3 {
  bottom: 3%;
  right: 7%;
}

.home-description {
  font-size: var(--larger-font-size);
  max-width: 850px;
  text-align: justify;
}

.home-socials {
  margin-block: 1.75rem 2.5rem;
}

.home-btns {
  display: flex;
  align-items: center;
  column-gap: 5rem;
}

.home-link::before {
  content: '';
  position: absolute;
  left: -90%;
  top: 50%;
  transform: translate(-50%);
  width: 40px;
  height: 2px;
  background-color: var(--border-color);
}
/* END HOME */

/* START SERVICES */
.card {
  background-color: var(--container-color);
  padding: 2rem 2.25rem;
  border-radius: 1.25rem;
  position: relative;
  overflow: hidden;
}

.card::before {
  content: '';
  position: absolute;
  right: -1.5rem;
  bottom: -1.5rem;
  width: 120px;
  height: 120px;
  background-image: url(../images/shape-3.png);
  background-size: cover;
}

.services-subtitle {
  font-size: var(--smaller-font-size);
}

.services-title {
  font-size: var(--h3-font-size);
  margin-block: 3rem 1rem;
}

.services-description {
  min-height: 175px;
}

.swiper-pagination {
  position: initial;
  margin-top: 1.25rem;
}

.resume-swiper .swiper-pagination {
  position: initial;
  margin-top: -0.4rem;
}
/* END SERVICES */

/* START SKILLS */
.skills-item {
  background-color: var(--container-color);
  padding: 0rem 1.25rem;
  border-radius: 1.25rem;
  border: 2px solid var(--gradient-text-start);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skills-container {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  column-gap: 2rem;
  max-width: 1600px;
  margin: auto;
}

.skills-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  max-width: 100%;
}

.skills-name {
  font-size: var(--larger-font-size);
}

.skills-value {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

.skills-value b {
  color: var(--first-color);
}

.skills-description {
  margin-block: 1rem 2rem;
  text-align: justify;
  font-size: var(--normal-font-size);
}

.skills-bar,
.skills-percentage {
  height: 2px;
}

.skills-bar {
  background-color: var(--shadow-color);
  margin-bottom: 2rem;
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.568);
}

.skills-percentage {
  display: block;
  background-color: var(--border-color);
  position: relative;
}

.skills-percentage::before {
  content: '';
  position: absolute;
  right: 0rem;
  top: -0.75rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--gradient-color);
  border: 2px solid var(--border-color);
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.568);
  z-index: 2;
}
/* END SKILLS */

/* START PROJECTS */
.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25rem 2.5rem;
  margin-bottom: 3.75rem;
}

.projects-container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  max-width: 1650px;
  margin: auto;
}

.projects-card {
  background-color: var(--container-color-2);
  border-radius: 1.25rem;
  position: relative;
  overflow: hidden;
  color: var(--text-color-2);
  border: 2px solid var(--gradient-text-start);
  box-shadow: 4px 4px var(--shadow-color);
  transition: all 0.5s var(--transition);
}

.projects-card:hover {
  background: #3b3b3b;
  border: 2px solid var(--border-color);
  transform: scale(1.05);
}

.projects-card:hover * {
  color: rgba(255, 255, 255, 0.796);
}

.projects-card::before {
  content: '';
  position: absolute;
  right: -1.5rem;
  bottom: -1.5rem;
  width: 120px;
  height: 120px;
  inset: auto;
  background-size: cover;
  background-color: var(--first-color);
  border-radius: inherit;
  transform: scale(0.3);
  filter: blur(10px);
  opacity: 0;
  z-index: -3;
  transition: all 0.5s var(--transition);
}

.projects-card:hover::before {
  transform: scale(1);
  filter: blur(0);
  opacity: 1;
}

.projects-item {
  color: var(--title-color);
  font-size: var(--larger-font-size);
  font-weight: var(--font-bold);
  cursor: pointer;
  position: relative;
  transform: color 0.3s var(--transition);
}

.projects-item:hover {
  cursor: pointer;
}

.projects-item::before {
  content: '';
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--first-color);
  transition: width 0.3s ease-in-out;
}

.projects-tags {
  margin-bottom: 1.25rem;
  margin-top: 0.5rem;
  display: flex;
  gap: 0.5rem;
  color: #e8e5ec;
}

.projects-popup {
  cursor: pointer;
}

.projects-text {
  padding-left: 1rem;
  margin-top: 0.5rem;
}

.projects-title {
  font-size: 25px;
  color: var(--text-color-2);
  margin-bottom: 0.25rem;
}

.projects-description {
  font-size: 18px;
}

.tag {
  padding: 3px 8px;
  border-radius: 5px;
  font-size: 14px;
}

.purple {
  background: #52386c;
}
.yellow {
  background: #797c3f;
}
.darkyellow {
  background: #906c35;
}
.green {
  background: #2b5b4d;
}
.darkgreen {
  background: #1c3c2c;
}
.blue {
  background: #2a6689;
}
.darkblue {
  background: #003366;
}
.darkred {
  background: #6f3551;
}
.red {
  background: #722121;
}
.brown {
  background: #7e403f;
}
.orange {
  background: #83532a;
}
.grey {
  background:  rgb(37, 37, 37);
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 90%;
  max-width: 600px;
  padding: 30px;
  border-radius: 15px;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.popup.active {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.popup::after,
.popup::before {
  --angle: 0deg;
  content: '';
  position: absolute;
  top: 25px;
  left: 25px;
  right: 25px;
  bottom: 25px;
  background: conic-gradient(
    from var(--angle),
    var(--gradient-text-start),
    var(--gradient-end),
    var(--gradient-text-start)
  );
  border-radius: 15px;
  z-index: -1;
  animation: spin 3s linear infinite;
}

.popup-projects {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 90%;
  max-width: 1200px;
  padding: 30px;
  border-radius: 15px;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.popup-projects.active {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.popup-projects::after,
.popup-projects::before {
  --angle: 0deg;
  content: '';
  position: absolute;
  top: 25px;
  left: 25px;
  right: 25px;
  bottom: 25px;
  background: conic-gradient(
    from var(--angle),
    var(--gradient-text-start),
    var(--gradient-end),
    var(--gradient-text-start)
  );
  border-radius: 15px;
  z-index: -1;
  animation: spin 3s linear infinite;
}

.popup-projects::before {
  filter: blur(10px);
  opacity: 0.5;
}

.popup-img {
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 5px;
  justify-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

.popup-content {
  background-color: var(--container-color-2);
  padding: 10px;
  border-radius: 10px;
  text-align: justify;
  position: relative;
  animation: slideIn 0.5s ease-in-out;
  box-shadow: 0 0 12px 10px var(--shadow-color);
}

.popup-text {
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 20px;
  margin-top: 15px;
}

.popup-text li {
  font-size: 18px;
  color: var(--text-color-3);
  margin-left:5px;
  margin-bottom: 7px;
}

.bold-color {
  font-size: 40px !important;
  text-align: center !important;
  padding-bottom: 10px !important;
}

.bold-color-span {
  font-size: 20px !important;
  margin-top: 5px !important;
}

.popup-content table {
  font-size: 18px;
}

.popup-content td {
  padding: 5px 0px;
  vertical-align: top;
}

.popup-content p {
  margin-top: 10px;
  font-size: 18px;
  color: var(--text-color-3);
}

.popup-content h2 {
  display: flex;
  text-align: left;
  font-size: 42px;
  color: var(--text-color);
  padding-bottom: 30px;
}

.popup-content h3 {
  margin-top: 25px;
  font-size: 24px;
  color: var(--text-color-2);
  text-align: left;
}

.popup-projects-content {
  background-color: #202020;
  padding: 10px;
  border-radius: 10px;
  text-align: justify;
  position: relative;
  animation: slideIn 0.5s ease-in-out;
  box-shadow: 0 0 12px 10px var(--shadow-color);
}

.popup-content .details {
  margin-top: 10px;
  font-size: var(--normal-font-size);
  color: #777;
}

.popup a {
  color: #d5d5d5;
  font-weight: bold;
}

.skills-tag {
  color: #e8e5ec;
  display: flex;
  flex-wrap: wrap;
  font-size: large;
  gap: 0.5rem;
}

.tag-popup {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 18px;
}

.popup b {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  font-weight: bold;
}

.popup-img-project {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 10px;
}

.attachment-container {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.close-btn {
  position: absolute;
  top: 0rem;
  right: 1.25rem;
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--first-color);
}

.achievement {
  background: #222;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  font-weight: bold;
  color: #ffcc00;
}

.files {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  justify-content: justify;
}

.file-card {
  background: #222;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: justify;
  gap: 10px;
  transition: 0.3s;
}

.file-card:hover {
  background: #444;
}

.file-icon {
  font-size: 18px;
}

.active-projects::before {
  width: 60%;
}

.projects-img {
  object-fit: cover;
  border-radius: 0.75rem;
  margin-bottom: 0.5rem;
  box-shadow: 0 0 4px 4px var(--shadow-color);
}
/* END PROJECTS */

/* START RESUME */
.resume-container {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.5rem;
}

.resume-title,
.resume-item {
  border-bottom: 2px solid var(--border-color);
}

.resume-title {
  font-size: var(--h2-font-size);
  padding-bottom: 2rem;
  text-align: center;
  font-family: var(--body-font);
}

.resume-item:not(:first-child) {
  border-right: 2px solid var(--border-color);
}

.resume-item {
  position: relative;
  padding-inline: 1.5rem;
}

.resume-header {
  padding-block: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.resume-header-title {
  font-size: var(--larger-font-size);
  font-family: var(--body-font);
}

.resume-icon {
  position: absolute;
  right: -1.25rem;
  bottom: -1.25rem;
  background-color: var(--container-color);
  border: 2px solid var(--border-color);
  box-shadow: 4px 4px var(--shadow-color);
  color: var(--title-color);
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  z-index: 2;
}

.resume-icon i {
  transition: transform 0.3s ease;
}

.accordion-open .resume-icon i {
  transform: rotate(180deg);
}

.resume-content {
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease, opacity 0.5s ease;
  padding-block: 0;
  margin-bottom: 0.5rem;
}

.resume-content-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem 2rem;
}

.resume-content-title {
  font-size: var(--normal-font-size);
}

.resume-date {
  color: var(--title-color);
  font-size: var(--smaller-font-size);
  font-weight: var(--font-bold);
}

.resume-description {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  font-size: var(--normal-font-size);
  text-align: justify;
}

.certificate-swiper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  display: block;
}

.swiper-wrapper {
  align-items: center;
}
/* END RESUME */

/* START CONTACT */
.contact {
  padding-bottom: 14rem;
  position: relative;
}

.contact-container {
  grid-template-columns: 5fr 7fr;
  column-gap: 1.5rem;
}

.contact-card {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  column-gap: 4.5rem;
  margin-bottom: 2.5rem;
}

.contact-icon,
.contact-form-input {
  border: 2px solid var(--border-color);
  background-color: var(--container-color);
}

.contact-icon {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  box-shadow: 4px 4px var(--shadow-color);
  font-size: var(--h3-font-size);
  display: grid;
  place-items: center;
  position: relative;
}

.contact-icon::after {
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  width: 40px;
  height: 2px;
  background-color: var(--border-color);
}

.contact-title {
  font-size: var(--h3-font-size);
  margin-block: 0.5rem;
}

.contact-form {
  row-gap: 1.75rem;
}

.contact-form-group {
  grid-template-columns: repeat(2, 1fr);
  gap: 1.75rem;
}

.contact-form-div {
  display: grid;
  row-gap: 0.5rem;
}

.contact-form-label {
  text-indent: 1.75rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-bold);
}

.contact-form-input {
  padding: 1rem 1.75rem;
  border-radius: 1.75rem;
}

.contact-form-area {
  resize: none;
  height: 140px;
}

.contact-submit {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem 2rem;
}

.message {
  position: fixed;
  bottom: 0.75rem;
  right: 1.25rem;
  font-weight: var(--font-medium);
  z-index: 1;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
/* END CONTACT */

/* START FOOTER */
.footer {
  border-top: var(--shadow-color);
  background-color: var(--container-color);
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-copyright {
  font-size: var(--small-font-size);
  font-weight: var(--font-bold);
}

.footer-copyright span {
  color: var(--first-color);
}
/* END FOOTER */

/* START SWITCHER */
.theme-button {
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.theme-button-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.ri-sun-fill {
  position: absolute;
  font-size: 2rem;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
  transform: scale(0);
  transition: 1s ease;
}

input:checked ~ .ri-sun-fill {
  transition-delay: 0.4s;
  transform: scale(1) rotate(360deg);
}

.ri-moon-fill {
  font-size: 2rem;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
  transition: 1s ease;
  transition-delay: 0.4s;
}

input:checked ~ .ri-moon-fill {
  transform: rotate(360deg) scale(0);
  transition-delay: 0s;
}

.theme-toggle {
  position: absolute;
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  z-index: -1;
  transition: 1s;
  background: transparent;
}

input:checked ~ .theme-toggle {
  background: transparent;
}

.animated-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: transparent;
  z-index: -2;
  clip-path: circle(0% at 50% 50%);
  transition: 1.5s ease-out;
}

/* END SWITCHER */

/* START BREAKPOINTS */
@media screen and (max-width: 1600px) {
  .section-deco:not(.header-deco) {
    display: none;
  }

  .home-banner {
    position: relative;
    right: initial;
    top: initial;
    transform: translateY(-10%);
    width: max-content;
    margin-inline: auto;
  }

  .home-content {
    text-align: center;
  }

  .home-description,
  .home-btns {
    margin-inline: auto;
    transform: translateY(-30%) !important;
  }

  .home-socials {
    transform: translateY(-150%) !important;
  }

  .home-banner {
    margin-block: 2.5rem;
  }

  .home-data {
    transform: scale(0.9);
  }

  .home-data-two {
    left: clamp(-3rem, -5.2rem + 70.8vw, 30.5rem);
  }

  .home-btns {
    flex-direction: column;
    row-gap: 3.75rem;
  }

  .home-link::before {
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 40px;
  }

  .home-description {
    max-width: 1350px;
  }

  .services-swiper,
  .testimonial-swiper {
    max-width: 1350px;
  }

  .skills-container {
    column-gap: 0rem !important;
  }

  .projects-container {
    grid-template-columns: repeat(2, fit-content(600px));
    justify-content: center;
  }

  .skills-item {
    margin-inline: 2rem !important;
  }

  .resume-container {
    grid-template-columns: fit-content(1200px);
    justify-content: center;
    row-gap: 2.5rem;
  }
}

@media screen and (max-width: 1370px) {
  .nav {
    height: 4rem;
  }

  .section {
    padding-block: 6rem 1rem;
  }

  .home-container {
    padding-block: 2rem;
  }

  .home-title {
    text-shadow: 2px 2px var(--shadow-color);
  }

  .home-data {
    transform: scale(0.8) !important;
  }

  .home-data-two {
    left: clamp(-3rem, -5.2rem + 70.8vw, 30.5rem);
  }

  .home-profile {
    justify-self: center;
  }

  .skills-container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin-right: -1.5rem;
    margin-left: -1.5rem;
  }

  .resume-container {
    padding-inline: 3rem;
    justify-content: center;
    row-gap: 2.5rem;
  }

  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1024px) {
  .nav {
    height: 4rem;
  }

  .section {
    padding-block: 6rem 1rem;
  }

  .home-container {
    padding-block: 2rem;
  }

  .home-title {
    text-shadow: 2px 2px var(--shadow-color);
  }

  .home-data {
    transform: scale(0.8) !important;
  }

  .home-data-two {
    left: clamp(-3rem, -5.2rem + 70.8vw, 30.5rem);
  }

  .home-profile {
    justify-self: center;
  }

  .skills-container {
    grid-template-columns: fit-content(950px);
    justify-content: center;
    margin-right: -1.5rem;
    margin-left: -1.5rem;
  }

  .resume-container {
    grid-template-columns: fit-content(950px);
    justify-content: center;
    row-gap: 2.5rem;
  }

  .contact-container,
  .contact-form-group {
    grid-template-columns: 1fr;
  }

  .contact-container {
    row-gap: 1.5rem;
  }

  .contact-form,
  .contact-content {
    max-width: 850px;
    margin-inline: auto;
    width: 100%;
  }

  .projects-text {
    zoom: 0.8;
  }

  .popup-text {
    zoom: 0.7;
  }
}

@media screen and (max-width: 768px) {
  .nav-menu,
  .style-switcher {
    width: 100%;
  }

  .nav-buttons {
    column-gap: 1.5rem;
  }

  .home-description,
  .home-btns {
    margin-inline: auto;
    transform: translateY(-15%) !important;
  }

  .home-socials {
    transform: translateY(-150%) !important;
  }

  .home-data {
    transform: scale(0.7) !important;
  }

  .home-data-two {
    left: clamp(-3rem, -5.2rem + 75.8vw, 30.5rem);
  }

  .home-profile {
    justify-self: center;
  }

  .projects-list {
    column-gap: 2rem;
  }

  .services-swiper,
  .testimonial-swiper {
    max-width: 420px;
  }

  .skills-container,
  .projects-container {
    justify-content: center;
  }

  .skills-container {
    margin-right: -1.5rem;
    margin-left: -1.5rem;
  }

  .projects-container {
    grid-template-columns: fit-content(550px);
  }

  .footer-container {
    flex-direction: column;
    row-gap: 1.25rem;
  }

  .home-banner {
    width: 100%;
  }

  .resume-container {
    grid-template-columns: fit-content(950px);
    justify-content: center;
    row-gap: 2.5rem;
  }

  .popup-text {
    zoom: 0.52;
  }
}

@media screen and (max-width: 576px) {
  .swiper-pagination {
    zoom: 0.7;
  }

  .container {
    padding-inline: 1.25rem;
  }

  .nav-buttons {
    column-gap: 1.25em;
  }

  .nav-menu {
    padding-left: 7rem;
  }

  .header-deco {
    left: 56px;
  }

  .home-description,
  .home-btns {
    margin-inline: auto;
    transform: translateY(-15%) !important;
    zoom: 0.8;
  }

  .home-socials {
    transform: translateY(-100%) !important;
  }

  .home-data {
    transform: scale(0.6) !important;
  }

  .home-data-two {
    left: clamp(-3rem, -5.2rem + 75.8vw, 30.5rem);
  }

  .home-banner {
    width: 100%;
  }

  .home-profile {
    justify-self: center;
  }

  .skills-container {
    margin-right: -1.5rem;
    margin-left: -1.5rem;
  }

  .resume-container {
    margin-inline: 1.4rem;
  }

  .resume-item {
    zoom: 0.85;
  }

  .details {
    zoom: 0.8;
  }

  .popup-text {
    zoom: 0.4;
  }
}

@media screen and (max-width: 385px) {
  .resume-container {
    margin-inline: 0rem;
  }

  .projects-tags {
    zoom: 0.8;
  }

  .projects-list {
    zoom: 0.8;
  }

  .swiper-pagination {
    zoom: 0.7;
  }

  .nav-menu {
    padding-left: 6rem;
    zoom: 0.7;
  }

  .home-description,
  .home-btns {
    margin-inline: auto;
    transform: translateY(-12%) !important;
    zoom: 0.7;
  }

  .home-job {
    zoom: 0.7;
  }

  .home-socials {
    transform: translateY(-40%) !important;
    zoom: 0.7;
  }

  .header-deco {
    left: 40px;
  }

  .home-banner,
  .home-img-wrapper {
    width: 100%;
    zoom: 0.7;
  }

  .home-profile {
    justify-self: center;
  }

  .home-title {
    justify-self: center;
    zoom: 0.5;
  }

  .home-data-two {
    left: clamp(-3rem, -5.2rem + 88.8vw, 30.5rem);
  }

  .home-description {
    transform: translateY(-6%);
    zoom: 0.6;
  }

  .card {
    padding-inline: 2rem;
  }

  .projects {
    zoom: 0.8;
  }

  .services {
    zoom: 0.8;
  }

  .resume-item {
    zoom: 0.6;
  }

  .skills {
    zoom: 0.65;
  }

  .section-title {
    zoom: 0.8;
  }

  .contact {
    zoom: 0.7;
  }

  .details {
    zoom: 0.5;
  }

  .nav {
    zoom: 0.5;
  }

  .footer {
    zoom: 0.5;
  }

  .popup-text {
    zoom: 0.3;
  }
}

@media screen and (max-width: 255px) {
  .swiper-pagination {
    zoom: 0.7;
  }

  .nav-menu {
    padding-left: 6rem;
    zoom: 0.7;
  }

  .home-description,
  .home-btns {
    margin-inline: auto;
    transform: translateY(-5%) !important;
    zoom: 0.7;
  }

  .home-job {
    zoom: 0.7;
  }

  .home-socials {
    transform: translateY(-40%) !important;
    zoom: 0.7;
  }

  .header-deco {
    left: 40px;
  }

  .home-banner,
  .home-img-wrapper {
    width: 100%;
    zoom: 0.7;
  }

  .home-profile {
    justify-self: center;
  }

  .home-title {
    justify-self: center;
    zoom: 0.5;
  }

  .home-data-two {
    left: clamp(-3rem, -5.2rem + 88.8vw, 30.5rem);
  }

  .home-description {
    transform: translateY(-6%);
    zoom: 0.6;
  }

  .card {
    padding-inline: 2rem;
  }

  .projects {
    zoom: 0.6;
  }

  .services {
    zoom: 0.8;
  }

  .resume {
    zoom: 0.65;
  }

  .skills {
    zoom: 0.45;
  }

  .section-title {
    zoom: 0.6;
  }

  .contact {
    zoom: 0.7;
  }

  .details {
    zoom: 0.35;
  }

  .popup-text {
    zoom: 0.4;
  }
}
/* END BREAKPOINTS */

/* START ANIMATIONS */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}
/* END ANIMATIONS */
